:root{
  /* Primary colors */
  --blue500: hsl(215, 51%, 70%);
  --cyan400: hsl(178, 100%, 50%);

  /* Neutral colors */
  --blue950: hsl(217, 54%, 11%); /* main bg */
  --blue900: hsl(216, 50%, 16%); /* card bg */
  --blue80: hsl(215, 32%, 27%); /* line */
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--blue950);
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card{
  width: 340px;
  margin: 20px 15px 20px;
  padding: 24px;
  background-color: var(--blue900);
  display: grid;
  flex-direction: column;
  border-radius: 16px;
  font-family: Outfit;
  font-size: 18px;
}

.equilibrium{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  transition: .5s ease;
}

.main-image{
  background: var(--cyan400);
  border-radius: 10px;
  display: block;
  
}

.view{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-image:hover .equilibrium{
  background-color: var(--cyan400);
  opacity: 0.5;
}
.main-image:hover .view{
  opacity: 1;
}

.card-title{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top:25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-title:hover{
  color:var(--cyan400) ;
}

.card-desc{
  color: var(--blue500);
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height:2em;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-info{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.eth, .time{
  color: var(--cyan400);
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 6px;
  margin-bottom: 10px;
}

.time{
  color: var(--blue500);
  font-weight: 400;
}

hr{
  border: none;
  border-top: 1px solid var(--blue80) ;
  margin: 10px 0 20px;
}

.card-creator {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
}

.card-creator img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.creator {
  color: var(--blue500);
  display: flex;
  flex-direction: row;
  font-weight: 300;
}

.card-name{
  color: var(--white);
  padding-left: 5px;
}
.card-name{
  color: var(--white);
  padding-left: 5px;
  cursor: pointer;
}
.card-name:hover{
  color: var(--cyan400);
}

@media (min-width: 1440px) {
  .card {
    width: 320px;
    padding: 20px;
    font-size: 17px;
  }

  hr{
    margin: 15px 0 12px;
  }

  .card-creator{
    padding-bottom: 10px;
  }

  .card-creator img{
    width: 30px;
    height:30px;
  }

  
}